<div style="width: var(--categoria-div-width)">
  <mat-card class="example-card">
    <p class="mat-h2">Categorias</p>

    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel
        (opened)="getArticulosPorCategoria(categoria.id_categoria)"
        (closed)="reset()"
          *ngFor="let categoria of categorias"
        >
          <mat-expansion-panel-header >
            <mat-panel-title> {{categoria.categoria}} </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column" *ngIf="subcategorias.length > 0">
            <div *ngFor="let subcategoria of subcategorias">
              <mat-checkbox (change)="onCheckboxSubcategoriasChanged(subcategoria.id_subcategoria, $event.checked)">
                {{ subcategoria.subcategoria }}
              </mat-checkbox>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <p class="mat-h2">Marcas</p>

    <mat-card-content>
      <div fxLayout="column">
        <div *ngFor="let marca of marcas">
          <mat-checkbox [checked]="checked" (change)="onCheckboxMarcasChanged(marca.id_marca, $event.checked)" >
            {{ marca.marca }}
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
