<div
  style="
    width: 100%;
    min-height: calc(
      100vh - var(--footer-div-height) - var(--toolbar-div-height)
    );
  "
  fxLayoutAlign="center"
>
  <div fxFlex="1300px" fxLayout="row" fxLayoutGap="24px">
    <app-categories [idCategoria]="decoded.id"></app-categories>
    <div fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="start start">
      <app-filtrar
        fxFlex="100%"
        (filtrarPor)="onFiltrarPor($event)"
      ></app-filtrar>
      <div fxFlex="100%" *ngIf="corruptEncoded">
        <p class="mat-h2" style="text-align: center">Ningún resultado</p>
        <img
          src="assets/img/empty.svg"
          alt=""
          width="100%"
          height="500px"
          style="object-fit: contain"
        />
      </div>
      <mat-grid-list
        fxFlex="100%"
        style="background-color: white;margin-bottom: 100px;"
        infiniteScroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="throttle"
        [infiniteScrollContainer]="'.main-container'"
        (scrolled)="onScrollDown()"
        [fromRoot]="true"
        cols="2"
        rowHeight="500px"
        gutterSize="100px"
        *ngIf="!corruptEncoded"
      >
        <mat-grid-tile *ngFor="let articulo of parcialArticulos">
          <div fxFlex="100%" fxLayout="column">
            <div
              style="height: 390px; cursor: pointer; position: relative"
              (click)="onClickArticulo(articulo)"
            >
              <img
                [src]="urlImagenes+articulo.imagen"
                style="width: 100%; height: 390px; object-fit: contain"
              />
            </div>
            <div fxLayout="row">
              <div
              *ngIf="articulo.stock === 0"
              style="background-color: #df2935; border-radius: 5px;margin-left: 10px"
              fxLayoutAlign="center center"
            >
              <p
                style="
                  padding: 5px;
                  margin: 0;
                  color: whitesmoke;
                  font-weight: 500;
                  font-size: 0.75rem;
                "
              >
                AGOTADO
              </p>
            </div>
              <!-- <div
              style="background-color: #2196F3; border-radius: 5px"
              fxLayoutAlign="center center"
            >
              <p
                style="
                  padding: 5px;
                  margin: 0;
                  font-weight: 500;
                  font-size: 0.75rem;
                "
              >
                Nuevo
              </p>
            </div> -->
              <div
              *ngIf="articulo.descuento > 0"
                style="
                  background-color: #f9dc5c;
                  border-radius: 5px;
                  margin-left: 10px;
                "
                fxLayoutAlign="center center"
              >
                <p
                  style="
                    padding: 5px;
                    margin: 0;
                    font-weight: 500;
                    font-size: 0.75rem;
                  "
                >
                  OFERTA
                </p>
              </div>
              <p
                class="mat-body-strong"
                style="
                  margin: 10px;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: normal;
                  -webkit-line-clamp: 2;
                  cursor: pointer;
                "
                (click)="onClickArticulo(articulo)"
                [matTooltip]="articulo.articulo"
                matTooltipShowDelay="600"
              >
                {{ articulo.articulo}}
              </p>
            </div>
            <div
              style="
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: space-between;
              "
            >
              <span *ngIf="!(articulo.descuento > 0)" style="margin-left: 10px" class="mat-h2">{{ articulo.precio | formatoMoneda}}</span>
              <div
              *ngIf="articulo.descuento > 0"
                fxLayout="row"
                style="margin-left: 10px"
                fxLayoutAlign="start center"
                fxLayoutGap="5px"
              >
                <span style="font-size: 1.3rem; color: #df2935">-{{ articulo.descuento }}%</span>
                <div fxLayout="column">
                  <span style="font-weight: 500; font-size: 1.1rem"
                    >{{ articulo.precio - getDescuento(articulo.precio, articulo.descuento) | formatoMoneda}}</span
                  >
                  <span style="text-decoration: line-through" class="mat-small"
                    >{{ articulo.precio | formatoMoneda}}</span
                  >
                </div>
              </div>
              <button
                style="margin-right: 10px"
                mat-icon-button
                color="primary"
                type="button"
                matTooltip="AGREGAR ESTE PRODUCTO AL CARRITO DE COMPRAS"
                [disabled]="articulo.stock < 1"
              >
                <mat-icon> {{ articulo.stock > 0 ? 'add_shopping_cart' : 'remove_shopping_cart'}} </mat-icon>
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>





