
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.mat-header-row {
  background-color: #3f51b5;
}
th.mat-header-cell {
  color: whitesmoke;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  width: 100%;
}

.img-container {
  height: 250px;
  width: 100%;
  overflow-y: auto;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.bottom-buttons {
  width: 100%;
  height: 50px;
  margin-left: -10px;
}

.mat-mini-fab {
  height: 30px;
  width: 30px;
}
mat-icon {
  font-size: 1rem;
}

/* .example-element-description-attribution {
  opacity: 0.5;
} */
