
<div style="width: 100%;height: 54px;margin: 24px 0px 24px 0px;background-color: gray; border-radius: 3px;" fxLayout="row" fxLayoutAlign="end center">
  <button mat-stroked-button style="margin-right: 24px;" [matMenuTriggerFor]="menu">Ordenar por: <span class="mat-small">{{filtro}}</span></button>

</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="filtrar(0)">{{filtros[0]}}</button>
  <button mat-menu-item (click)="filtrar(1)">{{filtros[1]}}</button>
  <button mat-menu-item (click)="filtrar(2)">{{filtros[2]}}</button>
</mat-menu>
