<div
  style="
    width: 100%;
    min-height: calc(
      100vh - var(--footer-div-height) - var(--toolbar-div-height)
    );
  "
  fxLayoutAlign="center"
>
  <div fxFlex="1300px">
    <div style="width: 100%; margin: 24px 0px 24px 0px">
      <h1 class="mat-display-1" style="font-weight: 600; margin: 0px 0px 20px 0px;">NUEVO ARTÍCULO</h1><!-- <span class="mat-display-1" style="font-weight: 400">{{
          " " + articulo
        }} </span> -->
    </div>

    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step
        [stepControl]="informacionBasicaForm"
        errorMessage="¡Verifica el formulario!"
      >
        <form [formGroup]="informacionBasicaForm">
          <ng-template matStepLabel>Información Básica</ng-template>
          <div style="width: 100%" fxLayout="row" fxLayoutGap="24px">
            <div fxFlex="50%" fxLayout="row wrap" fxLayoutAlign="start start">
              <div
                fxFlex="100%"
                fxLayout="row"
                fxLayoutGap="24px"
              >
              <mat-form-field appearance="fill" fxFlex="30%">
                <mat-label>SKU</mat-label>
                <input
                  matInput
                  placeholder="SKU"
                  formControlName="sku"
                  class="right-align"
                />
                <mat-hint>Número de referencia</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="fill" fxFlex="70%">
                <mat-label>Artículo</mat-label>
                <input
                  matInput
                  placeholder="Artículo"
                  formControlName="articulo"
                  class="right-align"
                />
                <mat-hint>Nombre del artículo</mat-hint>
              </mat-form-field>
              </div>

              <div
                style="margin: 24px 0px 24px 0px"
                fxFlex="100%"
                fxLayout="row"
                fxLayoutGap="24px"
              >
                <mat-form-field appearance="fill" fxFlex="50%">
                  <mat-label>Precio</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Precio"
                    formControlName="precio"
                    class="right-align"
                  />
                  <span matPrefix>$&nbsp;</span>
                  <span matSuffix>.00 MX</span>
                  <mat-hint>Precio del artículo</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex="50%">
                  <mat-label>Cantidad</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Cantidad"
                    formControlName="stock"
                    class="right-align"
                  />
                  <span matSuffix>&nbsp;Artículos</span>
                  <mat-hint>Cantidad de artículos disponibles</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div fxFlex="50%">
              <angular-editor
                formControlName="descripcion"
                [config]="editorConfig"
                style="z-index: 99"
              >
              </angular-editor>
              <div style="width: 100%;">
                <mat-accordion>
                  <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Vista Previa </mat-panel-title>
                      <mat-panel-description> </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div [innerHtml]="descripcion | safeHtml"></div>
                  </mat-expansion-panel>
                </mat-accordion>

              </div>
            </div>
          </div>
        </form>

        <div style="height: 210px; background-color: transparent"></div>
        <div style="margin-top: 24px" fxLayoutAlign="end">
          <button mat-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </mat-step>
      <mat-step
        [stepControl]="imagenPrincipalForm"
        errorMessage="Adjunta al menos una imagen"
      >
        <form [formGroup]="imagenPrincipalForm" style="min-height: 300px">
          <ng-template matStepLabel>Imágenes</ng-template>

          <div
            style="width: 100%; margin-bottom: 24px"
            fxLayout="column"
            fxLayoutAlign="start center"
            fxLayoutGap="24px"
          >
            <div style="width: 100%;" fxLayoutAlign="start">
              <input
                style="display: none"
                type="file"
                accept="image/*"
                (change)="onFileChangeImagenes($event)"
                multiple
                #files
              />
              <!-- <label for="" style="margin-right: 10px;">Imagenes: </label> -->

              <button
                mat-flat-button
                type="button"
                (click)="addFileImagenes()"
              >
                <mat-icon>attach_file</mat-icon>
                Adjuntar
              </button>
            </div>
            <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="fileImagenes.length > 0">

                <img
                class="example-box"
                [src]="imagen.data"
                height="150px"
                *ngFor="let imagen of imagenes" cdkDrag
              />


            </div>
          </div>
        </form>
        <div fxLayoutAlign="end">
          <button mat-button color="primary" matStepperPrevious>Atrás</button>
          <button mat-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </mat-step>
      <mat-step
        [stepControl]="categoriaForm"
        errorMessage="¡Verifica el formulario!"
      >
        <form [formGroup]="categoriaForm" style="min-height: 300px">
          <ng-template matStepLabel>Categoría</ng-template>
          <div
            style="width: 100%; margin-bottom: 24px"
            fxLayoutAlign="center"
            fxLayoutGap="24px"
          >
            <mat-form-field appearance="fill" fxFlex="24%">
              <mat-label>Categoría</mat-label>
              <mat-select formControlName="id_categoria">
                <mat-option
                  *ngFor="let categoria of categorias"
                  [value]="categoria.id_categoria"
                  >{{ categoria.categoria }}</mat-option
                >
                <mat-option
                  [value]="0"
                  class="mat-body-strong"
                  style="color: #3f51b5"
                  >Agregar/Editar/Eliminar</mat-option
                >
              </mat-select>
              <mat-hint>Categoría a la que pertenece</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="24%">
              <mat-label>Subcategoría</mat-label>
              <mat-select formControlName="id_subcategoria">
                <mat-option
                  *ngFor="let subcategoria of subcategorias"
                  [value]="subcategoria.id_subcategoria"
                  >{{ subcategoria.subcategoria }}</mat-option
                >
                <mat-option
                  [value]="0"
                  class="mat-body-strong"
                  style="color: #3f51b5"
                  >Agregar/Editar/Eliminar</mat-option
                >
              </mat-select>
              <mat-hint>Subcategoría a la que pertenece</mat-hint>
              <!-- <mat-error *ngIf="categoriaForm.hasError('required')">You must make a selection</mat-error>
              <mat-error *ngIf="categoriaForm.hasError('pattern') && !selected.hasError('required')">
                Your selection is invalid
              </mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex="24%">
              <mat-label>Marca</mat-label>
              <mat-select formControlName="id_marca">
                <mat-option
                  *ngFor="let marca of marcas"
                  [value]="marca.id_marca"
                  >{{ marca.marca }}</mat-option
                >
                <mat-option
                  [value]="0"
                  class="mat-body-strong"
                  style="color: #3f51b5"
                  >Agregar/Editar/Eliminar</mat-option
                >
              </mat-select>
              <mat-hint>Marca del artículo</mat-hint>
              <!-- <mat-error *ngIf="categoriaForm.hasError('required')">You must make a selection</mat-error>
              <mat-error *ngIf="categoriaForm.hasError('pattern') && !selected.hasError('required')">
                Your selection is invalid
              </mat-error> -->
            </mat-form-field>
          </div>
        </form>
        <div fxLayoutAlign="end">
          <button mat-button color="primary" matStepperPrevious>Atrás</button>
          <button
            mat-button
            color="accent"
            (click)="saveArticulo()"
            [disabled]="
              informacionBasicaForm.invalid ||
              imagenPrincipalForm.invalid ||
              categoriaForm.invalid
            "
          >
            Guardar Artículo
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
