
<form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 100%;margin: 10px 0px;">

  <p style="text-align: center" class="mat-body-2">RESTABLECER LA CONTRASEÑA DE {{data.nombreCompleto | uppercase}}</p>
  <mat-form-field appearance="legacy" floatLabel="always" style="width: 100%;margin-top: 15px;">
    <mat-label>NUEVA CONTRASEÑA</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      type="button"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-hint>LETRAS Y/O NÚMEROS: Mínimo 6 y máximo 20 caracteres</mat-hint>
  </mat-form-field>
  <div fxLayoutAlign="space-between" style="margin-top: 30px;">
    <button mat-stroked-button color="warn" style="width: 110px;height: 40px;" type="button" (click)="closeDailog()">CANCELAR</button>
    <button mat-flat-button color="primary" style="width: 110px;height: 40px;" type="button" (click)="onSubmit()">ACEPTAR</button>


  </div>
</form>
