<div [formGroup]="arrayObjectForm">
  <ng-container  formArrayName="lista">
    <div
      *ngFor="let control of lista.controls; let i = index"
    >
    <app-input-categoria-subcategoria-marca
      [formGroupControl]="control"
      [index]="i"
      (removeItem)="onRemoveItem($event)"
    >

    </app-input-categoria-subcategoria-marca>
      <!-- <app-social-networks
        [redesSocialesDatos]="redesSocialesDatos"
        [redeSocialeForm]="redSocial"
        [index]="i"
        (onRemoveRedSocial)="handleRemoveSocialNetwork($event)"
      ></app-social-networks> -->
    </div>
  </ng-container>
</div>

<!--  <div>
  <div *ngFor="let control of arrayObjectForm.controls; index as i">
    <app-input-categoria-subcategoria-marca
      [itemForm]="control"
      [index]="i"
      (removeItem)="onRemoveItem($event)"
    >
    </app-input-categoria-subcategoria-marca>
  </div>
 </div> -->

