<div class="carousel-counter" *ngIf="isCounter">{{ counter }}</div>

<div class="carousel-container" [class.carousel-moving]="isMoving">
  <div
    class="carousel-cells"
    #cells
    (transitionend)="handleTransitionendCellContainer($event)"
  >
    <ng-content></ng-content>
    <ng-template ngFor let-image [ngForOf]="images" let-i="index" *ngIf="!esArticulo">
			<div class="carousel-cell"
				[style.width]="getCellWidth()+'px'"
        [style.border-radius]="borderRadius+'px'"
				*ngIf="i < cellLimit">
				<!-- Image -->
				<img
					*ngIf="getImage(i) && getImage(i)['image']"
					[src]="getImage(i)['image']['path']"
          [style.object-fit]="objectFit"
          [style.cursor]="'pointer'"
          (click)="onClickCell(getImage(i))"
					draggable="false" />

			</div>
		</ng-template>
    <ng-template ngFor let-image [ngForOf]="images" let-i="index" *ngIf="esArticulo">
      <div
        class="carousel-cell"
        [style.width]="getCellWidth() + 'px'"
        [style.border-radius]="borderRadius + 'px'"
        *ngIf="i < cellLimit"
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        "
      >
        <div
          style="height: 390px; cursor: pointer"
          (click)="onClickCell(getImage(i))"
        >
          <img
            *ngIf="getImage(i) && getImage(i)['image']"
            [src]="rutaImg+getImage(i)['image']['imagen']"
            [style.object-fit]="objectFit"
            draggable="false"
          />
        </div>
        <div fxLayout="row">
          <div
          *ngIf="getImage(i)['image'].stock === 0"
          style="background-color: #df2935; border-radius: 5px;margin-left: 10px"
          fxLayoutAlign="center center"
        >
          <p
            style="
              padding: 5px;
              margin: 0;
              color: whitesmoke;
              font-weight: 500;
              font-size: 0.75rem;
            "
          >
            AGOTADO
          </p>
        </div>
          <div
          *ngIf="getImage(i)['image'].descuento > 0"
            style="
              background-color: #f9dc5c;
              border-radius: 5px;
              margin-left: 10px;
            "
            fxLayoutAlign="center center"
          >
            <p
              style="
                padding: 5px;
                margin: 0;
                font-weight: 500;
                font-size: 0.75rem;
              "
            >
              OFERTA
            </p>
          </div>
          <p
          class="mat-body-strong"
          style="
            margin: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 2;
            cursor: pointer;
          "
          (click)="onClickCell(getImage(i))"
          [matTooltip]="getImage(i)['image']['articulo']"
          matTooltipShowDelay="1500"
        >
          {{ getImage(i)['image']['articulo'] }}
        </p>
        </div>

        <div
          style="
            height: 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
          "
        >
          <!-- <span class="mat-h2">MX$5,418.00</span> -->
          <span *ngIf="!(getImage(i)['image'].descuento > 0)" style="margin-left: 10px" class="mat-h2">{{ getImage(i)['image'].precio | formatoMoneda}}</span>

          <div *ngIf="getImage(i)['image'].descuento > 0" fxLayout="row" style="margin-left: 10px;" fxLayoutAlign="start center" fxLayoutGap="5px">
            <span style="font-size: 1.3rem; color: #df2935">-{{ getImage(i)['image'].descuento }}%</span>

            <div fxLayout="column">
              <span style="font-weight: 500; font-size: 1.1rem"
                    >{{ getImage(i)['image'].precio - getDescuento(getImage(i)['image'].precio, getImage(i)['image'].descuento) | formatoMoneda}}</span
                  >
                  <span style="text-decoration: line-through" class="mat-small"
                    >{{ getImage(i)['image'].precio | formatoMoneda}}</span
                  >
            </div>
          </div>
          <button
           style="margin-right: 10px;"
            mat-icon-button
            color="primary"
            type="button"
            matTooltip="AGREGAR ESTE PRODUCTO AL CARRITO DE COMPRAS"
              >
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="carousel-dots" *ngIf="dots">
    <div
      class="carousel-dot"
      [class.carousel-dot-active]="i === activeDotIndex"
      *ngFor="let dot of dotsArr; index as i"
    ></div>
  </div>
</div>

<div
  class="carousel-arrows"
  [class.carousel-arrows-outside]="arrowsOutside"
  [class.carousel-dark-arrows]="arrowsTheme === 'dark'"
  *ngIf="isArrows"
>
  <div
    class="carousel-arrow carousel-arrow-prev material-icons"
    [class.carousel-arrow-disabled]="isPrevArrowDisabled()"
    (click)="prev()"
    matRipple
    matRippleColor="rgba(255,255,255, 0.2)"
  >
    chevron_left
  </div>
  <div
    class="carousel-arrow carousel-arrow-next material-icons"
    [class.carousel-arrow-disabled]="isNextArrowDisabled()"
    (click)="next()"
    matRipple
    matRippleColor="rgba(255,255,255, 0.2)"
  >
    chevron_right
  </div>
</div>
