/* .example-spacer {
  flex: 1 1 auto;
} */

/* mat-form-field.mat-form-field {
  font-size: 10px;
  width: 500px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(var(--toolbar-text-color), 0.5);
  color: rgba;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(var(--toolbar-text-color), 0.87);
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: rgba(var(--toolbar-text-color), 0.87);
}

input::-webkit-input-placeholder,
     textarea::-webkit-input-placeholder {
     color: rgb(var(--toolbar-text-color));
     text-shadow: none;
     -webkit-text-fill-color: initial;
}
 */
