<div
  style="height: 54px; width: 100%; background-color: black; color: white"
  fxLayoutAlign="center"
>
  <div style="height: 100%; width: 1300px" fxLayoutAlign="space-between">
    <div fxLayoutAlign="center center">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="clickMenu('principal')"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <img
        src="assets/img/logo.svg"
        alt=""
        height="40px"
        style="cursor: pointer"
        (click)="redirectTo('')"
      />
    </div>

    <div
      fxLayoutAlign="center center"
      style="margin-right: 20px"
      fxLayoutGap="5px"
    >
    <button
        mat-icon-button
        class="example-icon favorite-icon"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="clickMenu('cuenta')"
      >
        <mat-icon
          >{{
            isAuthenticated
              ? esAdmin
                ? "admin_panel_settings"
                : "person"
              : "person_outline"
          }}
        </mat-icon>
      </button>
      <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="redirectTo('/admin')"
      *ngIf="esAdmin"
    >
      <mat-icon>admin_panel_settings</mat-icon>
    </button> -->
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        (click)="redirectTo('/carrito')"
      >
        <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>

    </div>
  </div>
</div>
