<div
  style="height: 54px; width: 100%; background-color: black; color: white"
  fxLayoutAlign="space-between center"
>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>MZstore</span>
  <span class="example-spacer"></span>
<form style="margin-top: 13px;">
  <mat-form-field appearance="outline" style="color: white;">
    <input
      type="text"
      placeholder="Buscar..."
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      style="font-size: 14px;"
    />
    <mat-icon matSuffix style="font-size: 22px;">search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>local_shipping</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>login</mat-icon>
  </button>
</div>
<!-- <mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>MZstore</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>local_shipping</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar> -->
