<div
  style="
    width: 100%;
    min-height: calc(
      100vh - var(--footer-div-height) - var(--toolbar-div-height)
    );
  "
  fxLayoutAlign="center"
>
  <div style="margin-top: 20px" fxFlex="1300px">
    <h1
      class="mat-display-1"
      style="font-weight: 600; margin: 0px 0px 20px 0px"
    >
      DATOS PERSONALES
    </h1>

    <div style="margin-top: 50px;width: 100%;" fxLayoutAlign="center start">
      <div fxFlex="100%" [formGroup]="userForm" >
        <div>
          <p class="mat-body-2" (click)="ngOnInit()" style="margin-top: 50px;margin-bottom: 20px;cursor: pointer;color: teal;text-align: start;font-size: 1.5rem">Información Basica</p>
        </div>
        <div fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-form-field appearance="legacy" fxFlex="100%" [style.font-size]="'20px'" style="text-align: center;">
            <mat-label>NOMBRE COMPLETO</mat-label>
            <input matInput formControlName="nombre_completo">
          </mat-form-field>
          <button mat-button color="primary" *ngIf="modificado.nombre_completo && userForm.get('nombre_completo')?.valid">APLICAR CAMBIO</button>
        </div>
        <div fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-form-field appearance="legacy" fxFlex="100%" [style.font-size]="'20px'" style="text-align: center;">
            <mat-label>TELÉFONO</mat-label>
            <input matInput formControlName="telefono">
          </mat-form-field>
          <button mat-button color="primary" *ngIf="modificado.telefono && userForm.get('telefono')?.valid">APLICAR CAMBIO</button>

        </div>
        <div fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-form-field appearance="legacy" fxFlex="100%" [style.font-size]="'20px'" style="text-align: center;">
            <mat-label>CORREO ELETRÓNICO</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <button mat-button color="primary" *ngIf="modificado.email && userForm.get('email')?.valid">APLICAR CAMBIO</button>

        </div>
        <div>
          <p class="mat-body-2" (click)="ngOnInit()" style="margin-top: 50px;margin-bottom: 20px;cursor: pointer;color: teal;text-align: start;font-size: 1.5rem">Modificar contraseña</p>
        </div>
        <span>
          <div fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-form-field appearance="legacy" floatLabel="always" fxFlex="100%" [style.font-size]="'20px'" style="text-align: center;">
              <mat-label>CONTRASEÑA ACTUAL</mat-label>
              <input matInput >
            </mat-form-field>

          </div>
          <div fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-form-field appearance="legacy" floatLabel="always" fxFlex="100%" [style.font-size]="'20px'" style="text-align: center;">
              <mat-label>NUEVA CONTRASEÑA</mat-label>
              <input matInput >
            </mat-form-field>

          </div>
          <div style="text-align: center;">
            <button mat-flat-button color="primary">MODIFICAR CONTRASEÑA</button>

          </div>
        </span>

      </div>
    </div>
  </div>
</div>
