<div style="width: 100%;min-height: calc(100vh - 54px - var(--footer-div-height));" fxLayoutAlign="center center">
  <div style="width: 550px;">
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="54">
      <mat-grid-tile>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>edit</mat-icon>
          </button>
          <p>Modificar mis Datos Personales</p>
        </div>

      </mat-grid-tile>
      <mat-grid-tile>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>view_list</mat-icon>
          </button>
          <p>Ver mis Pedidos</p>
        </div>
      </mat-grid-tile>
<!--       <mat-grid-tile>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>local_shipping</mat-icon>
          </button>
          <p>Ver Todos los Pedidos</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>groups</mat-icon>
          </button>
          <p>Ver a Todos los Usuarios</p>
        </div>
      </mat-grid-tile> -->
    </mat-grid-list>
  </div>

</div>

