<div
  style="
    width: 100%;
    min-height: calc(
      100vh - var(--footer-div-height) - var(--toolbar-div-height)
    );
  "
  fxLayoutAlign="center"
>
  <div fxFlex="1300px" style="margin-top: 20px;">
    <!--     <carousel

      [lightDOM]="true"
      [autoplay]="autoplay"
      [transitionDuration]="1000"
      [autoplayInterval]="0"
      [loop]="true"
      [transitionTimingFunction]="'ease-in-out'"
      [objectFit]="'cover'"
      [cellWidth]="317.5"
      [height]="500"
      [images]="imagenes"
      [arrows]="false"
    >
    </carousel> -->

    <app-carousel
      #carousel
      [images]="imagenes"
      [height]="400"
      objectFit="contain"
      [cellsToShow]="5"
      [loop]="true"
      [autoplay]="true"
      [transitionDuration]="2000"
      [autoplayInterval]="1000"
      [margin]="20"
      [transitionTimingFunction]="'ease-in-out'"
      [arrows]="true"
      [cellsToScroll]="3"
      [overflowCellsLimit]="3"
      [dots]="false"
      [borderRadius]="10"
      [arrowsTheme]="'light'"
      (imagen)="onClickCell($event)"
    >
    </app-carousel>
<!--     <div>
      <img
        src="https://mzstore.mx/modules/ps_imageslider/images/7cdb02766c6e0bca5c8cf7bc6d754bdd43b0570a_lona.png"
        alt=""
        width="100%"
        style="min-height: 200px;"
        loading="lazy"
      />
    </div> -->
  </div>
  <!-- <button (click)="acCell()" type="button">cambiar</button> -->
</div>
