<div
  style="
    width: 100%;
    min-height: calc(
      100vh - var(--footer-div-height) - var(--toolbar-div-height)
    );
  "
  fxLayoutAlign="center"
>
  <div style="margin-top: 20px" fxFlex="1300px">
<!--     <carousel

      [lightDOM]="true"
      [autoplay]="autoplay"
      [transitionDuration]="1000"
      [autoplayInterval]="0"
      [loop]="true"
      [transitionTimingFunction]="'ease-in-out'"
      [objectFit]="'cover'"
      [cellWidth]="317.5"
      [height]="500"
      [images]="imagenes"
      [arrows]="false"
    >
    </carousel> -->
    <app-carousel
    #carousel
      [images]="imagenes"
      [height]="650"
      [cellsToShow]="cambiar()"
      [loop]="true"
      [autoplay]="autoplay"
      [transitionDuration]="4000"
      [autoplayInterval]="0"
      [transitionTimingFunction]="'ease-in-out'"
      [arrows]="false"
      (imagen)="onClickCell($event)"
    >
    </app-carousel>

  </div>
  <!-- <button (click)="acCell()" type="button">cambiar</button> -->
</div>
